<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Información personal -->
      <div class="col-md-6 mb-3">
        <h5 class="text-uppercase">Ezequiel Monson</h5>
        <p class="footer-item mb-1">
          <fa-icon
            style="font-size: 1em; color: white"
            [icon]="faEnvelope"
          ></fa-icon
          ><a
            href="mailto:info@ezequielmonson.com"
            class="text-white text-decoration-none"
            >info&#64;ezequielmonson.com</a
          >
        </p>
        <p class="footer-item mb-1">
          <fa-icon
            style="font-size: 1em; color: white"
            [icon]="faPhone"
          ></fa-icon
          ><a href="tel:+541161872071" class="text-white text-decoration-none"
            >+54 11 6187-2071</a
          >
        </p>
      </div>

      <!-- Redes -->
      <div class="col-md-6 mb-3">
        <h5 class="text-uppercase">Redes</h5>
        <p class="footer-item mb-1">
          <fa-icon
            style="font-size: 1em; color: white"
            [icon]="faGithub"
          ></fa-icon>
          <a
            href="https://github.com/EzequielMonson"
            target="_blank"
            class="text-white text-decoration-none"
            >GitHub</a
          >
        </p>
        <p class="footer-item mb-1">
          <fa-icon
            style="font-size: 1em; color: white"
            [icon]="faLinkedin"
          ></fa-icon>
          <a
            href="https://www.linkedin.com/in/ezemonson"
            target="_blank"
            class="text-white text-decoration-none"
            >LinkedIn</a
          >
        </p>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center mt-3 border-top pt-3">
      <p class="mb-0">
        &copy; {{ currentYear }} Ezequiel Monson. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
