.nav-item p {
  color:var(--color-text);
  font-size: larger;
  font-family: var(--font-family);
  text-transform: capitalize;
}
.navbar{
  background-color: var(--color-primary);
}
p {
  margin: 0;
}
.navbar-expand-lg .navbar-nav {
  gap: 2em;
}
@media (max-width: 710px) {
  .navbar-expand-lg .navbar-nav {
    gap: initial;
  }
}
