.container-footer {
  position: absolute;
  width: -webkit-fill-available;
  
}
.theme-roberto {
  --color-bg: #330000;
  --color-text: #fff5f5;
  --color-accent: #cc0000;
  font-family: 'Roboto Slab', serif;
}