<h2 class="titulo">Proyectos destacados</h2>
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let proyecto of proyectos">
    <div class="card custom-card h-100" [ngClass]="proyecto.clase">
      <div class="card-body d-flex flex-column h-100">
        <div class="card-title">
          <img *ngIf="proyecto.logo" [src]="proyecto.logo" class="logo" [alt]="proyecto.nombre">
          <h5 *ngIf="proyecto.nombre" class="title" [innerHTML]="proyecto.nombre"></h5>
        </div>
        <p class="card-text">{{ proyecto.descripcion }}</p>

        <div *ngIf="proyecto.comentario" class="comentario-box">
          <p class="comentario-text">“{{ proyecto.comentario }}”</p>
        </div>
        <div class="contenedor-btn mt-auto">
          <a [href]="proyecto.link" class="btn btn-main mt-3" target="_blank">Ver proyecto</a>
          <button *ngIf="proyecto.estilo" class="btn btn-style mt-2 ms-2" (click)="aplicarEstilo(proyecto.estilo)">Aplicar estilo</button>
        </div>
      </div>
    </div>
  </div>
</div>
