.card-body {
  background: var(--color-card) !important;
  border-radius: 1em;
}
.card {
  border-color: transparent !important;
  background-color: transparent;
}
.card-title{
    color: var(--color-secondary) !important;
}
.card-text{
    color: var(--color-secondary) !important;
}