ul {
  gap: 2em;
  border: 0;
}
li {
  height: auto;
  padding: 1.1em;
  font-size: 1.3em;
}
.list-group{
  border-radius: 0 !important;
  margin-bottom: 2em;
}
.list-group-item {
  background: var(--color-card) !important;
  border: 0;
  border-radius: 0.5em;
  color: var(--color-secondary);
}

